* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}
:root {
  --admin-primary-color: #2C3454;
  --admin-secondary-color: #132983af;
  --admin-teritary-color: #0625a0;
  --admin-accent-color: #fff;
  --admin-text-color: #FDBF46;
}

/* Sidebar */
.navbar-vertical.navbar-light {
  background-color: var(--admin-primary-color) !important;
}
.navbar-vertical.navbar-light .navbar-nav .nav-link i,
.navbar-vertical.navbar-light .navbar-nav .nav-link svg {
  color: var(--admin-accent-color) !important;
}
.navbar-vertical.navbar-light .navbar-nav .nav-link:hover i,
.navbar-vertical.navbar-light .navbar-nav .nav-link:hover svg,
.navbar-vertical.navbar-light .navbar-nav .nav-link.active i,
.navbar-vertical.navbar-light .navbar-nav .nav-link.active svg {
  color: var(--admin-text-color) !important;
}
.navbar-light .navbar-nav .nav-link {
  color: var(--admin-accent-color) !important;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover {
  color: var(--admin-primary-color) !important;
}
.navbar-vertical.navbar-light .navbar-nav > .nav-item > .nav-link.active {
  background-color: var(--admin-secondary-color) !important;
  color: var(--admin-text-color) !important;
}

.navbar-vertical.navbar-light .navbar-nav > .nav-item > .nav-link:hover {
  background-color: var(--admin-teritary-color) !important;
  color: var(--admin-text-color) !important;
}

.navbar-vertical.navbar-expand-lg .navbar-brand{
  position: sticky;
  top: 0;
  z-index: 200;
  background-color: var(--admin-primary-color);
}

@media (max-width: 991px) {
  .navbar-vertical.navbar-expand-lg .navbar-brand {
    position: static;
  }
}

.sidebar-logo{
  max-width: 150px;
}